fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
geoalchemy2
alembic
redis
requests
protobuf
gtfs-realtime-bindings
pydantic
pydantic-settings
pandas
scikit-learn
joblib
xgboost
celery
python-multipart
